<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <img src="https://cdn.pixabay.com/photo/2015/11/23/14/48/bible-1058436_960_720.jpg" class="center" />
    <br>
    <br />
</head>
<body>
    <br />
    <h2 class="title" style='font-size: 36px; margin: 0px; line-height: 1.16; font-family: Gibson, "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-weight: 400; padding: 0px; color: rgb(68, 68, 68); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>Grzech i jego odkupienie</a></h2>
    <br />
    <div class="body-text" style='line-height: 1.6; margin-top: 1em; color: rgb(68, 68, 68); font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
        <p style="margin: 0px;">Ludzie z powodu grzechu byli martwi:</p>
        <ul style="margin: 1em 0px; padding: 0px 0px 0px 40px;">
            <li><b style="font-weight: 700;">Ef 2:1</b> I wy byliście umarłymi na skutek waszych występk&oacute;w i grzech&oacute;w</li>
        </ul>
        <p style="margin: 0px;">ponieważ podążali za żądzami własnych ciał:</p>
        <ul style="margin: 1em 0px; padding: 0px 0px 0px 40px;">
            <li><b style="font-weight: 700;">Ef 2:2-3</b> [2] w kt&oacute;rych żyliście niegdyś według doczesnego sposobu tego świata, według sposobu Władcy mocarstwa powietrza, to jest ducha, kt&oacute;ry działa teraz w synach buntu. [3] Pośr&oacute;d nich także my wszyscy niegdyś postępowaliśmy według żądz naszego ciała, spełniając zachcianki ciała i myśli zdrożnych. I byliśmy potomstwem z natury zasługującym na gniew, jak i wszyscy inni.</li>
        </ul>
        <p style="margin: 0px;">lecz B&oacute;g poprzez ofiarę Jezusa Chrystusa przywr&oacute;cił ludzi do życia:</p>
        <ul style="margin: 1em 0px; padding: 0px 0px 0px 40px;">
            <li><b style="font-weight: 700;">Ef 2: 4-6</b> [4] A B&oacute;g, będąc bogaty w miłosierdzie, przez wielką swą miłość, jaką nas umiłował, [5] i to nas, umarłych na skutek występk&oacute;w, razem z Chrystusem przywr&oacute;cił do życia. Łaską bowiem jesteście zbawieni. [6] Razem też wskrzesił i razem posadził na wyżynach niebieskich &ndash; w Chrystusie Jezusie,</li>
        </ul>
        <p style="margin: 0px;">Ciąg logiczny jest więc taki: grzeszna natura człowieka prowadzi go do potępienia &gt; śmierć Jezusa za grzechy ludzi daje zbawienie (zapłatę za nasze grzechy).</p>
    </div>
</body>
</html>
