@{
    ViewData["Title"] = "O mnie";
}
<h1>@ViewData["Title"]</h1>

<p>Witaj na moim blogu! Mam na imię Przemek i jestem Chrześcijaninem. Serdecznie zapraszam do czytania :)</p>
<img src="https://cdn.pixabay.com/photo/2015/09/18/11/37/child-945422_960_720.jpg" class="center" />
