<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <img src="https://cdn.pixabay.com/photo/2020/01/20/05/37/jesus-4779548_960_720.jpg" class="center" />
    <br />
</head>
<body>
    <br />
    <h2 class="title" style='font-size: 36px; margin: 0px; line-height: 1.16; font-family: Gibson, "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-weight: 400; padding: 0px; color: rgb(68, 68, 68); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>Zbawienie z łaski przez wiarę</h2>
    <br />
    <p style='margin: 0px; color: rgb(68, 68, 68); font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>Zgodnie z Biblią,&nbsp;<b style="font-weight: 700;">zbawienie jest dane ludziom za darmo, łaską przez wiarę</b>. Wiele fragment&oacute;w Pisma to potwierdza wprost:</p>
    <ul style='margin: 1em 0px 0px; padding: 0px 0px 0px 40px; color: rgb(68, 68, 68); font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; font-size: 15px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;'>
        <li><b style="font-weight: 700;">Ef 2:8-9</b> [8] Łaską bowiem jesteście zbawieni przez wiarę. A to pochodzi nie od was, lecz jest darem Boga: [9] nie z uczynk&oacute;w, aby się nikt nie chlubił.</li>
        <li><b style="font-weight: 700;">Ga 2:16</b> A jednak przeświadczeni, że człowiek osiąga usprawiedliwienie nie przez wypełnianie Prawa za pomocą uczynk&oacute;w, lecz jedynie przez wiarę w Jezusa Chrystusa, my właśnie uwierzyliśmy w Chrystusa Jezusa, by osiągnąć usprawiedliwienie z wiary w Chrystusa, a nie przez wypełnianie Prawa za pomocą uczynk&oacute;w, jako że przez wypełnianie Prawa za pomocą uczynk&oacute;w nikt nie osiągnie usprawiedliwienia</li>
        <li><b style="font-weight: 700;">Tt 3:4-7&nbsp;</b>[4] Gdy zaś ukazała się dobroć i miłość Zbawiciela, naszego Boga, do ludzi, [5] nie ze względu na sprawiedliwe uczynki, jakie spełniliśmy, lecz z miłosierdzia swego zbawił nas przez obmycie odradzające i odnawiające w Duchu Świętym, [6] kt&oacute;rego wylał na nas obficie przez Jezusa Chrystusa, Zbawiciela naszego, [7] abyśmy, usprawiedliwieni Jego łaską, stali się w nadziei dziedzicami życia wiecznego.</li>
        <li><b style="font-weight: 700;">Rz 3:23-24</b> [23] wszyscy bowiem zgrzeszyli i pozbawieni są chwały Bożej, [24] a dostępują usprawiedliwienia darmo, z Jego łaski, przez odkupienie kt&oacute;re jest w Chrystusie Jezusie. &nbsp;</li>
        <li><b style="font-weight: 700;">Rz 11:5-6</b> [5] Tak przeto i w obecnym czasie ostała się tylko Reszta wybrana przez łaskę. [6] Jeżeli zaś dzięki łasce, to już nie ze względu na uczynki, bo inaczej łaska nie byłaby już łaską.</li>
        <li><b style="font-weight: 700;">1P 1:5</b> Wy bowiem jesteście przez wiarę strzeżeni mocą Bożą dla zbawienia, gotowego objawić się w czasie ostatecznym.</li>
        <li><b style="font-weight: 700;">1P 3:18</b> Bo i Chrystus raz za grzechy cierpiał &ndash; sprawiedliwy za niesprawiedliwych &ndash; aby was przyprowadzić do Boga. Jego ciało wprawdzie zabito, ale mocą Ducha został przywr&oacute;cony do życia.</li>
    </ul>
</body>
</html>
